<!-- Adapted from the work by Renzo Lucioni [https://renzo.lucioni.xyz] -->

<header class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
    <h1>
      <a href="/"></a>
    </h1>
    <p class="tagline lead">Szymon Łopaciuk's personal website and portfolio.</p>
  </div>

  <input type="checkbox" id="menu-icon">
  <label class="menu-label" for="menu-icon">
    <span class="times">&times;</span>
  </label>

  <div class="collapsable">
    <nav class="sidebar-nav">
      {% for link in site.sidebar_links %}
        {% if link.url == page.url %}
          <a class="sidebar-nav-item active" href="{{ link.url }}">{{ link.title }}</a>
        {% else %}
          <a class="sidebar-nav-item" href="{{ link.url }}">{{ link.title }}</a>
        {% endif %}
      {% endfor %}
  </nav>
  </div>
    <p class="copyright">&copy; 2019 Szymon Łopaciuk</p>
  </div>
</header>
